flask===2.1.0
flask-restful===0.3.9
flask-sqlalchemy===2.5.1
SQLAlchemy==1.4.31
marshmallow===3.12.1
pydantic==1.9.0
python-dotenv==0.19.2
black===21.5b2
pytest===6.2.4
pytest-cov===2.12.1
pytest-sugar===0.9.4
